/* 
Project Name: Sho Matsuzaki Portfolio Site
Author: Sho Matsuzaki
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
     color: #ffffff;
     background-color: #000;
     font-size: 10px;
     font-family: 'Roboto', sans-serif;
     margin: 0 auto;
}

#header {
	display: block;
	position: relative;
	padding-bottom: 56.25%;
}

video {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#name-flex {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 

	align-items: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;

	justify-content: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#name {
	position: relative;
	display: block;
	text-align: center;
	margin: 0;
	letter-spacing: -3px;
	z-index: 10;
}

#container {
	margin: auto;
	text-align: center;
    padding: 50px 30px;
}

hr {
	border: none;
	height: 1px;
	color: #ffffff;
	background-color: #ffffff;
}

@media only screen and (min-width: 100px) {
	body {
		width: 100%;
	}
	header {
		width: 100%;
	}
	#name {
		font-size: 40px;
	}
}

@media only screen and (min-width: 768px) {
	body {
		width: 100%;
	}
	header {
		width: 100%;
	}
	#name {
		font-size: 70px;
	}
}

@media only screen and (min-width: 1500px) {
	body {
		width: 1500px;
	}
	header {
		width: 1500px;
	}
	#name {
		font-size: 80px;
	}
}